/* glue: {{ version }} hash: {{ hash }} */
{% for image in images %}.{{ image.label }}{{ image.pseudo }}{%- if not image.last %}, {%- endif %}{%- endfor %}{
	background-image:url('{{ sprite_path }}');
	background-repeat:no-repeat;
	display: inline-block;
	overflow: hidden;
}
{% for image in images %}
.{{ image.label }}{{ image.pseudo }}{
	background-position:{{ image.x ~ ('px' if image.x) }} {{ image.y ~ ('px' if image.y) }};
	padding-top: {{ image.height }}px;
	height: 0;
	width:{{ image.width }}px;
}
{% endfor %}